// Try renaming this file to the name of one of your components and writing scss here

* {
  font-family: arial, sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Home {
  margin: 0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background.jpg');
  background-size: cover;
}

.Home h1 {
  -webkit-animation: h1 10s linear infinite;
  animation: h1 10s linear infinite;
  align-self: center;
}

.Home img {
  height: 30%;
  width: 30%;
  margin: 250px;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes h1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #061d48;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, #6a6a70, #061d48);
  background: -moz-linear-gradient(to left top, #6a6a70, #061d48);
  background: -ms-linear-gradient(to left top, #6a6a70, #061d48);
  background: -o-linear-gradient(to left top, #6a6a70, #061d48);
  background: linear-gradient(to left top, #6a6a70, #061d48);
}

nav {
  background-image: url('/images/background.jpg');
  background-size: auto;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  // background: linear-gradient(#0b4fce, #d7d9df); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  border: ridge 5px gray;
}

.NavSegment,
nav a {
  text-decoration: none;
  display: block;
  border: ridge 2px;
}

.NavSegment {
  padding: 6px 8px 6px 16px;
  font-size: 20px;
}

nav img {
  height: 75%;
  width: 75%;
}

nav a {
  padding: 6px 8px 6px 30px;
  font-size: 14px;
}

nav.Selected {
  background-color: #1a72e6;
}

nav a:hover {
  background-color: #1a72e6;
  transition: 1s;
}

.ReportingOptions {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.ReportingOptions.OptionComponent select {
  display: flex;
  color: black;
}

.OptionComponent button {
  color: black;
  text-shadow: none;
  font-weight: bolder;
  font-size: 10pt;
}

.OptionComponent select {
  color: black;
  text-shadow: none;
  font-weight: bolder;
  font-size: 10pt;
}

.OptionComponent {
  display: flex;
  align-items: center;
}

table {
  margin-top: 30px;
  border: 3px solid white;
  -webkit-animation: fadein 2s;
}

th {
  background-color: #4f0d91;
  color: whitesmoke;
}

td {
  background-color: #10397a;
}

td,
th {
  padding: 5px 15px 5px 15px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  border-color: #4f0d91;
}

select {
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InputForm{
  display: flex;
  border: ridge 2px white;
}

.OrderReqInfo{
  border: ridge 2px white;
  background-color: slateblue;
  max-width: 40%;
}

.OrderReqPurchase{
  border: ridge 2px white;
  background-color: slateblue;
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#CartTable {
  align-self: center;
}

.Test {
  border: solid 5px white;
}

.Header {
  display: flex;
  justify-content: center;
}

.SubmitOrder {
  border: 4px ridge #061d48;
  display: flex;
  background-color: #1ab675;
  justify-content: center;
  padding: 10px;
  -webkit-animation: xition 2s;
}

.False {
  background-color: #b61a1a;
  -webkit-animation: xition 2s;
}

.Ready {
    background-color: #ddff01;
    -webkit-animation: xition 2s;
}

.Disabled {
  background-color: #bcbcbb;
  -webkit-animation: xition 2s;
}

@-webkit-keyframes xition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.RemoveButton {
  background-color: slateblue;
}

.canva {
  background-color: rgba(202, 202, 186, 0.605);
  border: ridge 3px white;
}
